# Mapbox
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=pk.eyJ1Ijoib2Jpbm5hMzAiLCJhIjoiY21iemM3bXowMXYxcjJscTFyeG9rYXV3cCJ9.xtiaL8_On9DQivx2y0rKOA

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://njddkezbxmekvsnxbktm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5qZGRrZXpieG1la3Zzbnhia3RtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk3NTE2NzksImV4cCI6MjA2NTMyNzY3OX0.LIel5OjKn21KDccXOd7Lv4smuLYijjAflEROVi3GT6c
DATABASE_URL=psql -h db.njddkezbxmekvsnxbktm.supabase.co -p 5432 -d postgres -U postgres
